/node_modules
/public/storage
/public/hot
/public/css
/public/js
/public/css/*.css
/public/js/*.js
/public/mix-manifest.json
/public/service-worker.js
/public/favicon-custom.png
/storage/*.key
/storage/**/*.key
/storage/**/*.crt
/storage/invoices
/storage/app/public/videos/branded_videos
/storage/api/documents/
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.vscode
phpcs.phar
/storage/app/certificates/**/*.*

/public/wordpress/wp-content/uploads/
public/wordpress/wp-config.php

#Allow
!public/js/utility/
!public/css/utility/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
**/.DS_Store
